{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About This Project</h1>
    <p>This application is designed to demonstrate the basics of building web applications using Flask and integrating with external APIs like Wikipedia.</p>
    <p>More information about the technologies and frameworks used in this project can be found on <a href="https://flask.palletsprojects.com/" target="_blank">Flask's official documentation</a>.</p>
    <p>For more detailed information on how to use the Wikipedia API that powers this application, check out the <a href="https://wikipedia.readthedocs.io/en/latest/quickstart.html" target="_blank">Wikipedia API Quickstart Guide</a>.</p>

{% endblock %}
