{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to Practical 10!</h1>
    <p>Don't know HTML? Watch this helpful tutorial!</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HD13eq_Pmp8?si=IrR7j4Mhse4NpkwV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endblock %}
